#body {
  background-color: MediumVioletRed;
  display: grid;
  grid-template-columns: 10% 70% 20%;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#name {
	background-color: DarkMagenta;
}
#title {
	background-color: DarkOrchid;
}
#navbar {
	background-color: DarkGray;
}	